<section class="contact_us">
  <div class="container">
    <h1 class="text-danger">Contact Us</h1>
    <div class="row">
      <div class="col-md-6">
        <form action="#" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <!-- Full Name -->
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input
              type="text"
              class="form-control input-lg"
              id="fullName"
              placeholder="Enter your full Name"
              formControlName="fullName"
              required
              [formControl]="fullName"
            />
          </div>
          <!-- User Name -->
          <div class="form-group">
            <label for="username">User Name</label>
            <input
              type="text"
              class="form-control input-lg"
              id="username"
              placeholder="Enter your user name"
              name="username"
              required
              formControlName="username"
              [formControl]="username"
            />
          </div>
          <!-- <p>Username: {{username.value}}</p> -->

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control input-lg"
              id="email"
              placeholder="Enter your email"
              required
              formControlName="email"
              [formControl]="email"
            />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control input-lg"
              id="password"
              placeholder="Enter your password"
              required
              formControlName="password"
              [formControl]="password"
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control input-lg"
              id="confirmPassword"
              placeholder="Enter your password"
              required
              formControlName="confirmPassword"
              [formControl]="confirmPassword"
            />
          </div>

          <button type="submit" class="btn btn-default">Submit</button> &nbsp;
          <button type="reset" class="btn btn-danger" (click)="reset()">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
