@media(min-width:769px) {
    .contact_us {
        background: #fff;
        width: 750px;
        height: auto;
        margin: auto;
        padding: 60px 100px;


    }
}


@media(max-wdth:768px) {
    .contact_us {
        background: #fff;
        width: auto;
        height: 100vh;
        margin: auto;
        padding: 0px;
        display: block;

    }
}