<section class="states_list">
    <!-- Start of loading spinner -->
    <div class="container">
        <div class="row" *ngIf="loading else loaded">
            <div class="col-md-8 col-md-offset-5" style="margin-bottom: 30px;">
                <app-show-loading></app-show-loading>
            </div>
        </div>
    </div>
    <!-- End of loading spinner -->
    <ng-template #loaded>
        <div class="present_container">
            <div class="row">
                <div class="col-md-2">
                    <img class="img-responsive" src="assets/images/svg/somalia-flag.svg" alt="Somalia" />
                </div>
                <div class="col-md-10">
                    <h2>Somalia</h2>
                    <p>
                        Somalia, officially the Federal Republic of Somalia, is a country in the Horn of Africa. It is bordered by Ethiopia to the west, Djibouti to the Northwest, the Gulf of Aden to the north, the Indian Ocean to the east, and Kenya to the southwest. Somalia
                        has the longest coastline on Africa's mainland.
                    </p>
                </div>
            </div>
        </div>
        <h4>About Somalia States</h4>
        <hr />
        <!-- Bring the breadcrub links here -->
        <!-- <app-breadcrumb-nav></app-breadcrumb-nav> -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li>
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li>
                        <a routerLink="/states/hirshabelle" routerLinkActive="active">Hirshabelle</a>
                    </li>
                    <li>
                        <a routerLink="/states/koonfur-galbeed" routerLinkActive="active">Koonfur Galbeed</a>
                    </li>
                    <li>
                        <a routerLink="/states/jubaland" routerLinkActive="active">Jubaland</a>
                    </li>
                    <li>
                        <a routerLink="/states/galmudug" routerLinkActive="active">Galmudug</a>
                    </li>
                    <li>
                        <a routerLink="/states/putland" routerLinkActive="active">Putland</a>
                    </li>
                    <li>
                        <a routerLink="/states/somaliland" routerLinkActive="active">Somaliand</a>
                    </li>
                </ul>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="row" *ngFor="let state of states">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://source.unsplash.com/1600x900/?office" alt="{{state.banadir.anotherName}}" />
                    <div class="caption">
                        <h3>{{state.banadir.city}} <small>- Capital of Somalia</small></h3>
                        <hr />
                        <small><b>Known as: </b>{{state.banadir.anotherName}}</small>
                        <p><b>Population</b>: {{state.banadir.population | number}}</p>
                        <p><b>Main Sources</b>: {{state.banadir.mainSources}}</p>
                        <p><b>Governor Name</b>: {{state.banadir.governorName}}</p>
                        <p><b>Number of Ports</b>: {{state.banadir.numberOfAirport}}</p>
                        <p><b>Number of Airports</b>: {{state.banadir.numberOfAirport}}</p>
                        <p>
                            <b>Number Of Districts</b>: {{state.banadir.numberOfDistrict+1}}
                        </p>
                        <p><b>Number Of Beaches</b>: {{state.banadir.numberOfBeach}}</p>
                        <p><b>Number of Miles</b>: {{state.banadir.milesSquare}} square</p>
                        <hr />
                        <!-- <pre><b></b>: {{state.banadir | json }}</pre> -->
                        <button class="btn btn-primary">{{state.banadir.id}}</button>
                    </div>
                </div>
            </div>
            <!-- Distracts -->
            <!-- let district of districts -->
            <div class="col-md-9">
                <h4>Names & Numbers of Districts of Banadir State</h4>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>District Names</th>
                                <th># of City Hall</th>
                                <th>Population</th>
                                <th># of Police Stattions</th>
                                <th>City Mayor Name(s)</th>
                                <th>City Budget</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let district of state.banadir.districts">
                                <td>
                                    {{district.name}}
                                    <small class="badge badge-primary">{{district.id}}</small>
                                </td>
                                <td>{{district.cityHall}}</td>
                                <td>{{district.population | number}}</td>
                                <td>{{district.policeStation}}</td>
                                <td>{{district.cityMayor}}</td>
                                <td class="text-danger">{{district.budget | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div class="well">
                    <h2>
                        List of All District names in the Capital of Somalia, Mogadishu
                    </h2>
                    <p>{{state.banadir.districtNames}}</p>
                </div>
            </div>
        </div>
    </ng-template>
</section>
