<div class="states_list">
  <div class="present_container">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img
            class="img-responsive"
            src="assets/images/somalia-president-farmajo.jpg"
            alt="Somali President Mahamad Abdullahi Farmajo"
          />
        </div>
        <div class="col-md-10">
          <h2>About Somalia President</h2>
          <p>
            Mohamed Abdullahi Mohamed, also known as Farmaajo, is a Somali
            politician who is the founder and chairman of the Tayo party. He was
            Prime Minister of Somalia for six months, from November 2010 until
            June 2011.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>About Somalia</h1>
    <hr />
    <div class="row">
      <div class="col-md-4" *ngFor="let state of states">
        <div class="thumbnail">
          <img
            src="https://source.unsplash.com/1600x900/?office"
            alt="{{state.banadir.anotherName}}"
          />
          <div class="caption">
            <h2>{{state.banadir.city}}</h2>
            <small><b>Known as: </b>{{state.banadir.anotherName}}</small>
            <p><b>Population</b>: {{state.banadir.population | number}}</p>
            <p><b>Main Sources</b>: {{state.banadir.mainSources}}</p>
            <p><b>Governor Name</b>: {{state.banadir.governorName}}</p>
            <p><b>Number of Ports</b>: {{state.banadir.numberOfAirport}}</p>
            <p><b>Number of Airports</b>: {{state.banadir.numberOfAirport}}</p>
            <p>
              <b>Number Of Districts</b>: {{state.banadir.numberOfDistrict+1}}
            </p>
            <p><b>Number Of Beaches</b>: {{state.banadir.numberOfBeach}}</p>
            <p><b>Number of Miles</b>: {{state.banadir.milesSquare}} square</p>
            <hr />
            <!-- <pre><b></b>: {{state.banadir | json }}</pre> -->

            <button class="btn btn-primary">{{state.banadir.id}}</button>
          </div>
        </div>
      </div>
      <!-- Distracts -->
      <!-- let district of districts -->
      <div class="col-md-8" *ngFor="let state of states">
        <h4>Names & Numbers of Districts</h4>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>City Names</th>
                <th># of City Hall</th>
                <th>Population</th>
                <th># of Police Stattions</th>
                <th>City Budget</th>
                <th>City Mayor Name(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <b> {{state.banadir.districts[0].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[0].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[0].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[0].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[0].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[0].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[0].cityMayor}}</b></td>
              </tr>

              <tr>
                <td>
                  <b> {{state.banadir.districts[1].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[1].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[1].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[1].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[1].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[1].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[1].cityMayor}}</b></td>
              </tr>
              <!-- district 2 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[2].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[2].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[2].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[2].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[2].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[2].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[2].cityMayor}}</b></td>
              </tr>
              <!-- district 3 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[3].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[3].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[3].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[3].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[3].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[3].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[3].cityMayor}}</b></td>
              </tr>

              <!-- district 4 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[4].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[4].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[4].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[4].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[4].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[4].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[4].cityMayor}}</b></td>
              </tr>
              <!-- district 5 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[5].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[5].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[5].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[5].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[5].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[5].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[5].cityMayor}}</b></td>
              </tr>
              <!-- district 6 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[6].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[6].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[6].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[6].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[6].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[6].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[6].cityMayor}}</b></td>
              </tr>
              <!-- district 7 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[7].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[7].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[7].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[7].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[7].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[7].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[7].cityMayor}}</b></td>
              </tr>

              <!-- district 8 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[8].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[8].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[8].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[8].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[8].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[8].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[8].cityMayor}}</b></td>
              </tr>
              <!-- district 9 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[9].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[9].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[9].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[9].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[9].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[9].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[9].cityMayor}}</b></td>
              </tr>

              <!-- district 10 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[10].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[10].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[10].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[10].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[10].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[10].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[10].cityMayor}}</b></td>
              </tr>
              <!-- district 11 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[11].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[11].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[11].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[11].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[11].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[11].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[11].cityMayor}}</b></td>
              </tr>
              <!-- district 12 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[12].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[12].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[12].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[12].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[12].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[12].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[12].cityMayor}}</b></td>
              </tr>
              <!-- district 13 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[13].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[13].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[13].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[13].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[13].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[13].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[13].cityMayor}}</b></td>
              </tr>
              <!-- district 14 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[14].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[14].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[14].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[14].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[14].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[14].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[14].cityMayor}}</b></td>
              </tr>

              <!-- district 15 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[15].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[15].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[15].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[15].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[15].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[15].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[15].cityMayor}}</b></td>
              </tr>

              <!-- district 16 -->
              <tr>
                <td>
                  <b> {{state.banadir.districts[16].name }}</b
                  ><small class="badge badge-primary"
                    >{{state.banadir.districts[16].id}}</small
                  >
                </td>
                <td><b> {{state.banadir.districts[16].cityHall }}</b></td>
                <td>
                  <b> {{state.banadir.districts[16].population | number}}</b>
                </td>
                <td><b> {{state.banadir.districts[16].policeStation}}</b></td>
                <td class="text-danger"><b> {{state.banadir.districts[16].budget | currency}}</b></td>
                <td><b> {{state.banadir.districts[16].cityMayor}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="well">
          <h2>
            List of All District names in the Capital of Somalia, Mogadishu
          </h2>
          <p>{{state.banadir.districtNames}}</p>
        </div>
      </div>
    </div>
    <!-- Row 2 -->
    <!-- <div class="row">
      <div class="col-md-4">1</div>
      <div class="col-md-4">2</div>
    </div> -->
  </div>
</div>
