.states_list {
    width: auto;
    height: auto;
    position: relative;
    background-color: #fff;



    .present_container {
        position: relative;
        margin-bottom: 10px;
        margin-top: -20px;
        padding: 20px 50px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px dashed #ba773f;
            transition: all .5s ease-in-out;
            cursor: pointer;
            &:hover{
            transform: scale(1.08,1.08);
            -webkit-transform: scale(1.08,1.08);
            -moz-transform: scale(1.08,1.08);
            -ms-transform: scale(1.08,1.08);
            -o-transform: scale(1.08,1.08);
        } 
        }
       
    }
 
    button.btn-primary {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}