.hirshabelle_list {
    width: 100%;
    height: auto;
    background: #dadada24;
    position: relative;
    display: block;

    .thumbnail {
        position: relative;

        img {
            width: 640px;
            height:auto
        }

        button.btn-primary {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }


}