<section class="postcast_main_container">
    <!-- Start of loading spinner -->
    <div class="container">
        <div class="row" *ngIf="loading else loaded">
            <div class="col-md-8 col-md-offset-5" style="margin-bottom: 30px;">
                <app-show-loading></app-show-loading>
            </div>
        </div>
    </div>
    <!-- End of loading spinner -->

    <ng-template #loaded>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-danger text-center">{{podcastTitle}}</h1>
                </div>
            </div>
        </div>

        <!-- Start of container -->
        <div class="container" *ngFor="let podcast of listOfPodcast; let i = index">
            <div class="showError" class="showError" *ngIf="listOfPodcast.length > 0; else noPodcastData ">
                <div class="row row_mb">
                    <div class="col-md-3">
                        <div class="dynamic_numbers">
                            <h3>{{i+1}}</h3>
                        </div>
                    </div>
                    <div class="col-md-3 shared_bg">
                        <div class="alexa-img">
                            <img src="{{podcast.thumbnail}}" alt="{{podcast.title}}" draggable="false" />
                        </div>
                    </div>
                    <div class="col-md-3 shared_bg">
                        <div class="authors-container">
                            <h3>{{podcast.title}}</h3>
                            <p>by <span>{{podcast.publisher}}</span></p>
                            <p class="episode">{{podcast.total_episodes}} &nbsp;episodes</p>
                            <hr />
                            <div class="author_images">
                                <a href={{podcast.website}} target="_blank">
                                    <img src="assets/images/svg/apple.svg" alt="{{podcast.title}}" />
                                    <small class="text-muted">&nbsp; itunes</small>
                                </a>

                                <a href={{podcast.website}} target="_blank">
                                    <img src="assets/images/svg/link.svg" alt="{{podcast.title}}" />
                                    <small class="text-muted">&nbsp; web</small>
                                </a>

                                <a href={{podcast.website}} target="_blank">
                                    <img src="assets/images/svg/rss.svg" alt="{{podcast.title}}" />
                                    <small class="text-muted">&nbsp; rss</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 shared_bg">
                        <div class="right_container_text">
                            <p>{{podcast.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start of show error template -->
            <ng-template #noPodcastData>
                <div class="alert alert-danger">
                    <p class="text-center">{{errorMessage}}</p>
                </div>
            </ng-template>
            <!-- End of show error template -->
        </div>
        <!-- End of container -->
    </ng-template>
</section>