$main_purple_color: #891f8e;

.postcast_main_container {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    margin: 100px auto;

    .shared_bg {
        position: relative;
        height: 35vh;
        background-color: #fff;
        padding: 40px;
        box-shadow: 5px 7px 6px #b6444329;
        -webkit-box-shadow: 5px 7px 6px #b6444329;
        -moz-box-shadow: 5px 7px 6px #b6444329;
        -ms-box-shadow: 5px 7px 6px #b6444329;
        -o-box-shadow: 5px 7px 6px #b6444329;
    }


    .container {
        position: relative;

        .row_mb {
            margin-bottom: 40px;
        }

        /*Start of dynamic_numbers */
        .dynamic_numbers {
            position: relative;

            // width: 10%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(/assets/images/svg/circle.svg);
            background-size: 100% 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            object-fit: cover;
            background-size: cover;
            margin: 6px 10px auto 161px;

            h3 {
                line-height: 50px;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                color: #fff;
            }

        }

        /*End of dynamic_numbers */


        /*Start of of image style */
        .alexa-img {
            position: relative;

            img {
                width: 180px;
                height: 180px;
                display: block;
                margin-left: -70px;
            }
        }

        /*End of of image style */

        /*Start of authors-container style*/
        .authors-container {
            width: auto;
            height: auto;
            position: relative;
            // background-color: #f00;


            h3 {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }

            p {
                position: relative;
                color: $main_purple_color;
                font-size: 14px;

                span,
                span {
                    font-weight: normal;
                    font-family: SpaceMono-Regular;

                }
            }

            p.episode {
                color: #000;
                font-family: 'Courier New', Courier, monospace;
            }

            .author_images {
                position: relative;
                padding: 0px;
                margin: 0;

                img {
                    width: 15px;
                    height: 15px;
                }

                small.text-muted {
                    font-size: 12px;
                    margin-right: 10px;
                    text-transform: uppercase;
                }
            }

            /*End of authors-container style*/
        }

        /*Start of right_container_text style*/
        .right_container_text {
            position: relative;

            p {
                font-family: SpaceMono-Regular;
                font-family: Arial, Helvetica, sans-serif;
                color: #000;
            }
        }

        /*End of right_container_text style*/

    }

    //End of postcast_main_container >container div

}

@media(max-width:678px) {
    .postcast_main_container {
        position: relative;
        width: 100% !important;
        height: auto;
        display: block;
        margin: auto !important;


        .shared_bg {
            width: 100%;
            height: auto;
            background-color: #fff;
            margin: auto 0px;
        }

        .container {
            position: relative;

            .dynamic_numbers {
                width: 70px;
                height: 70px;
                margin: 0px 10px -25px 0px;
                z-index: 22;

                h3 {
                    line-height: 70px;
                    font-size: 50px;
                }
            }

            /*Start of .alexa-img */
            .col-md-3 {
                position: relative;

                .alexa-img {
                    position: relative;
                    display: block;

                    img {
                        width: 130px;
                        height: 100px;


                    }
                }
            }

            /*Start of authors-container */
            .authors-container {
                display: block;

                position: absolute;
                top: 5;
                left: 40;
                right: 20;
                bottom: 0;

                margin: 0px 0px 71px 118px;

                h3 {

                    font-size: 12px;
                    font-weight: bold;

                }

                p {
                    color: #000 !important;
                    font-weight: normal;
                    font-family: 'Courier New', Courier, monospace;
                }

                .author_images {
                    position: relative;
                    margin: 20px -61px;

                    img {
                        display: inline-block;

                    }
                }

            }


        }

        /*right_container_text*/
        .right_container_text {
            display: block;
            margin-top: -93px;

        }






    }
}