.blog-details {
    position: relative;

    .thumbnail {
        position: relative;

        img {
            width: 100%;
            height: auto;
            height: 75vh;
            object-fit: fill;
        }
    }
}