.main-nagivation {
    position: relative;

    nav {
        .navbar-brand {
            position: relative;

            img {
                width: 350px;
                height: auto;
                margin-top: -25px;
            }
        }

        .navbar-nav {
            text-transform: uppercase;
        }


    }



    .navbar-inverse {
        background-color: #fff;
        border-color: #fff;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #000;
    }

    .navbar-toggle {
        background-color: #000
    }
}

@media(max-width:768px) {


    .main-nagivation {
  .navbar-brand {
            position: relative;

            img {
                width: 280px !important;
                height: auto;
                margin-top: -17px !important;
            }
        }

    }
      
    }