.main-nagivation {
    position: relative;

    .navbar-brand {
        position: relative;

        img {
            width: 350px;
            height: auto;
            margin-top: -25px;
        }
    }
}