<app-states> </app-states>
<section class="home_news" style="display: none;">
    <div class="container">
        <h1 class="text-danger">BREAKING NEWS</h1>
        <hr />
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let new of news">
                <div class="card">
                    <!-- <h1 class="text-danger">Name: {{new.source.id}}</h1> -->
                    <a [routerLink]="['/news-details', new.source.id]">
                        <img src="{{new.urlToImage}}" class="card-img-top" alt="{{new.title}}" />
                    </a>
                    <div class="card-body">
                        <a [routerLink]="['/news-details', new.source.id]">
                            <h2 class="card-title">{{new.title }}</h2>
                        </a>
                        <p>{{new.description}}</p>
                        <p class="card-text">
                            {{new.author }} | {{new.publishedAt | date}}
                        </p>
                        <a class="btn btn-primary" [routerLink]="['/news-details', new.title]">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
