.hirshabelle_list {
    position: relative;

    .thumbnail {
        position: relative;

        button.btn-primary {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
}