.hirshabelle_list {
    width: 100%;
    height: auto;
    background: #dadada24;
    position: relative;
    display: flex;

    .thumbnail {
        position: relative;

        button.btn-primary {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }
}