<section class="lists_of_users">
  <!-- Start of loading spinner -->
  <div class="container">
    <div class="row" *ngIf="loading else loaded">
      <div class="col-md-8 col-md-offset-5" style="margin-bottom: 30px;">
        <i class="fa fa-spinner fa-spin" style="font-size: 60px;"></i>
      </div>
    </div>
  </div>
  <!-- End of loading spinner -->

  <ng-template #loaded>
    <div class="container">
      <h1 class="text-danger">{{useList}}</h1>
      <hr />
      <!-- *ngFor="let user of listOfUsers" -->
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Full Name</th>
                  <th>User Name</th>
                  <th>Email Address</th>
                  <th>Address & Street</th>
                  <th>Suite & Apt</th>
                  <th>City</th>
                  <th>Zip Code</th>
                  <th>Phone Number</th>
                  <th>Website</th>
                  <th>Compnay</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of listOfUsers">
                  <td>{{user.name}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.address.street}}</td>
                  <td>{{user.address.suite}}</td>
                  <td>{{user.address.city}}</td>
                  <td>{{user.address.zipcode}}</td>
                  <td>{{user.phone}}</td>
                  <td><a href="{{user.website}}">{{user.website}}</a></td>
                  <td>{{user.company.name}}</td>
                  <td>
                    <a
                      class="btn btn-success btn-sm"
                      [routerLink]="['/users/user-details', user.id, user.name]"
                      title="View"
                      ><i class="fa fa-eye" aria-hidden="true"></i
                    ></a>

                    <!--       [routerLink]="['users/user-details', user.id]" -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
